name: Update Packages

on:
  workflow_dispatch:
  schedule:
    - cron: 30 * * * *
  watch:
    types: started

env:
  BRANCH: master
  SCRIPT: file/packages.sh

jobs:
  Update:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@main

    - name: Delete workflow runs
      uses: Mattraks/delete-workflow-runs@v2
      with:
        retain_days: 0
        keep_minimum_runs: 3

    - name: Set Git Identity
      run : |
        git config --global user.email "actions@github.com"
        git config --global user.name "GitHub Actions"
        sudo timedatectl set-timezone "Asia/Shanghai"

    - name: Update Packages
      run: |
        cd $GITHUB_WORKSPACE
        chmod +x $SCRIPT
        git clone -b $BRANCH https://github.com/djzng/openwrt-packages.git
        cd openwrt-packages
        git rm -r --cache * >/dev/null 2>&1
        rm -rf `find ./* -maxdepth 0 -type d ! -name "diy"` >/dev/null 2>&1
        $GITHUB_WORKSPACE/$SCRIPT
        echo "FILE_PATH=$PWD" >> $GITHUB_ENV

    - name: Upload Packages
      run: |
        cd $FILE_PATH
        git add .
        git commit -m "Update $(date +%Y-%m-%d" "%H:%M:%S)"
        git push --quiet "https://${{ secrets.GH_TOKEN }}@github.com/djzng/openwrt-packages.git" HEAD:$BRANCH
